body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0
  /* background: linear-gradient( 180deg,#FFBFB4 50%,#fff0db 50%); */
}

.home-div {
  width: 100%;
  height: 750px;
  background-color: #FFBFB4 
}

.home-div-two {
  width: 100%;
  height: 750px;
  background-color: white
}

.home-div-three {
  width: 100%;
  height: 750px;
  background-color:#EBDDCC
}
